/* Neon Text & Animations */
@keyframes flicker {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  2% {
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  5% {
    opacity: 0;
  }
  6% {
    opacity: 0;
  }

  8% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cursor {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.neonText {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #008fff, 0 0 42px #008fff,
    0 0 82px #008fff, 0 0 92px #008fff, 0 0 102px #008fff;
}
.neonText .flicker {
  animation: flicker 7s ease-in-out infinite;
  /* animation-delay: 0.8s; */
}
.cursor {
  animation: cursor 1s infinite;
  transition: none;
}
.neon {
  transition: all 0.3s ease;
}
/* About */
.container-profile {
  perspective: 60rem;
  display: flex;
  justify-content: center;
}
.profile {
  transition: rotate 600ms, scale 1s;
}
.container-profile:hover .profile {
  rotate: y 1turn;
  scale: 1.1;
}
.container-profile:hover {
  rotate: y 10deg;
}
.container-profile:hover .profile img {
  box-shadow: #008fff -20px 5px 80px;
}
/* Portfolio */

/* Contact */

.input:focus,
textarea:focus {
  outline: #4c1d95;
  border: none;
  box-shadow: -10px -10px 70px 8px #4c1d95;
  background-color: black;
  transition: all;
  transition-duration: 700ms;
}
.wrong-email:focus {
  outline: #d81038;
  border: none;
  box-shadow: -10px -10px 70px 8px #ea1212;
  background-color: black;
  transition: all;
  transition-duration: 700ms;
}
label {
  margin-left: 0.25rem;
}
textarea {
  resize: none;
}
.send-button:hover {
  border: none;
  box-shadow: -10px -10px 80px 8px #4c1d95;
}
.send-button:focus {
  outline: none;
  border: none;
  box-shadow: -10px -10px 80px 8px #4c1d95;
  background-color: black;
}

@keyframes notification {
  0% {
    scale: 0;
  }
  /* 50% {
    scale: 1.2;
  } */
  100% {
    scale: 1;
  }
}
.notification {
  transform-origin: center;
  transition: transform;
  animation: notification 800ms ease;
}
