@keyframes flicker {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  2% {
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  5% {
    opacity: 0;
  }
  6% {
    opacity: 0;
  }

  8% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.neonText {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #008fff, 0 0 42px #008fff,
    0 0 82px #008fff, 0 0 92px #008fff, 0 0 102px #008fff, 0 0 151px #008fff;
}
.neonText span {
  animation: flicker 7s ease-in-out infinite;
}
.neonText .delay {
  animation-delay: 0.8s;
}
.neon {
  transition: all 0.3s ease;
}
