/* Neon Text & Animations */
@keyframes flicker {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  2% {
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  5% {
    opacity: 0;
  }
  6% {
    opacity: 0;
  }

  8% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cursor {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.neonText {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #008fff, 0 0 42px #008fff,
    0 0 82px #008fff, 0 0 92px #008fff, 0 0 102px #008fff;
}
.neonText .flicker {
  animation: flicker 7s ease-in-out infinite;
}
.cursor {
  animation: cursor 1s infinite;
  transition: none;
}
.neon {
  transition: text-shadow 0.6s ease;
}
/*** Hero ***/
#video {
  outline: none !important;
}
#video::-webkit-media-controls {
  display: none !important;
}

#video::-webkit-media-controls-panel {
  display: none !important;
}

#video::-webkit-media-controls-play-button,
#video::-webkit-media-controls-start-playback-button {
  display: none !important;
}
#video {
  /* Estilos específicos de Firefox para ocultar controles */
  -moz-appearance: none !important;
  pointer-events: none !important;
}
/*** About ***/
.profile {
  transition: box-shadow 1s !important;
  transition: scale 1s !important;
}
.profile:hover {
  box-shadow: #008fff -20px 5px 80px !important;
  scale: 1.1 !important;
}
/*** Portfolio ***/
.projectsContainer {
  position: relative;
  transition: transform 0.7s;
}

.project-card {
  transition: all 700ms;
}
.project-card:hover {
  z-index: 12;
}
.projectsContainer:hover .project-card:hover {
  box-shadow: -10px -10px 70px 10px #4c1d95;
  border: #5b21b6;
  background-color: black;
}
/*** Contact ***/
.input::placeholder,
textarea::placeholder {
  color: rgb(194, 166, 238);
}
.input:focus,
textarea:focus {
  outline: #4c1d95;
  border: #5b21b6 10px;
  box-shadow: -10px -10px 70px 8px #4c1d95;
  background-color: rgb(46 16 101);
  transition: all;
  transition-duration: 700ms;
}
.wrong-email:focus {
  outline: #d81038;
  border: none;
  box-shadow: -10px -10px 70px 8px #ea1212;
  background-color: black;
  transition: all;
  transition-duration: 700ms;
}
label {
  margin: 0 0 0.75rem 0.25rem;
}
textarea {
  resize: none;
}
.send-button:hover {
  border: none;
  box-shadow: -10px -10px 80px 8px #4c1d95;
}
.send-button:focus {
  outline: none;
  border: none;
  box-shadow: -10px -10px 80px 8px #4c1d95;
  background-color: black;
}

@keyframes notification {
  0% {
    scale: 0;
  }
  /* 50% {
    scale: 1.2;
  } */
  100% {
    scale: 1;
  }
}
.notification {
  transform-origin: center;
  transition: transform;
  animation: notification 800ms ease;
}
